:root {
  margin: 0;
  padding: 0;
  --color1: #f0f9ff;
  --color2: #e1f1fd;
  --color3: #bbe5fc;
  --color4: #7fcffa;
  --color5: #3bb8f5;
  --color6: #129fe5;
  --color7: #0576b6;
  --color8: #06659e;
  --color9: #095583;
  --color10: #0e486c;
  --color11: #092e48;
  --colorGray1: #eaf0f4;

  --ssm: 14px;
  --sm: 16px;
  --md: 24px;
  --lg: 32px;
  --xl: 36px;
  --xxl: 44px;
  
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

